{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.name,{attr:{class:"form-control"} })}}

    {{ form_row(form.model) }}

    {{ form_row(form.description) }}

    {{ form_row(form.startDate) }}
    {% if action == "create" %}
        <button class="btn btn-primary" type="submit">Créer</button>
    {% elseif action == "edit" %}
        <button class="btn btn-primary" type="submit">Modifier</button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
