{% for public_advert in public_adverts %}
<div class="card mt-5 public-advert">
    <div class="row">
        <div class="col-4">
            {% if public_advert.car.picture1 is not empty %}
                <img src="{{ asset(images_directory~public_advert.car.picture1) }}" width="100"/>
            {% endif %}
        </div>

        <div class="col-8" id="">
            <h2> <a href="{{ path('public_detail',{id:public_advert.id}) }}"> {{public_advert.titre}} </a></h2>
            <p> {{public_advert.description | raw}} </p>
            <p> {{ public_advert.createDate | date("d/m/Y") }} </p>
        </div>
    </div>
</div>
{% endfor %}