{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.name,{attr:{class:"form-control"} })}}

    {{ form_row(form.model) }}

    {{ form_row(form.description) }}

    {{ form_row(form.startDate) }}

    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
