<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <!-- CSS only -->
            <link rel="stylesheet" href="{{ absolute_url(asset('build/css/app.css')) }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ absolute_url(asset('build/js/app.js')) }}"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
 <div class="container-fluid">
    <nav class="navbar">
        <ul class="nav partenaire">


            <li class="nav-item active home ">
                <a class="nav-link" id="acceuil" href="#accueil" value="">Accueil</a>
            </li>

            <li class="nav-item active home ">
                <a class="nav-link" id="inscription" href="#accueil" value="">Inscription</a>
            </li>

            <li class="nav-item active home ">
                <a class="nav-link" id="connexion" href="#accueil" value="">Connexion</a>
            </li>


        </ul>

        <form class="form-inline">
            <input type="text" class="research" placeholder="Trouver une voiture">
            <button type="button" class="search btn" name="rechercher"></button>

            <div>
                <div id="picker">
                    <i class="fa-solid fa-calendar ico-size"></i>
                    <i class="fa-solid fa-clock ico-size"></i>
                </div>
                <input type="hidden" id="result" value="click">
            </div>
        </form>
        <p id="versionApp">Rental Car Project</p>
    </nav>
    
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
   
        {% block body %}


        {% endblock %}
   
        <div class="row">
            {% if is_granted("ROLE_USER") %}
                     <a class="btn btn-danger" href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion </a>
            {% endif %}
        </div>
    </div>
    </body>
</html>
