{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}

    <div class="form-group mt-5">
    {{ form_start(form) }}

        	<div class="row ">
					<div class="col-8 mx-auto mt-2">
                    		{{ form_row(form.titre) }}
					</div>
            </div>

            <div class="row ">
               		<div class="col-offset-2 col-8 mx-auto mt-5">
                    		{{ form_row(form.description) }}
           			</div>
            </div>

            <div class="row mx-auto mt-5">
                <div class="col-4" style="margin-left: 400px;">
							{{form_row(form.car) }}
                </div>
                <div class="col-4 mx-auto">
                    		{{ form_row(form.prix) }}
                </div>
            </div>   
               
    {% if action == "create" %}
        <div class="row">
            <div  style="margin-top: 4%; margin-left: 40%; margin-right: 5%;">
                <a class="btn btn-danger" href="{{ path('list_adverts') }}"> Retour </a>
            </div>
            <div style="margin-top: 4%;">
                <button class="btn btn-primary" type="submit">Créer</button>
            </div>
        </div>
    {% elseif action == "edit" %}
        <div class="row">
            <div  style="margin-top: 4%;  margin-left: 40%; margin-right: 5%;">
                <a class="btn btn-danger" href="{{ path('list_adverts') }}"> Retour </a>
            </div>
            <div  style="margin-top: 4%;">
                <button class="btn btn-primary" type="submit">Modifier</button>
            </div>
        </div>
    {% endif %}
    {{ form_end(form) }}
    </div>
{% endblock %}