{% extends 'base.html.twig' %}

{% block title %}Liste des annonces
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-offset-4 col-6">
			<a class="btn btn-success" href="{{ path('create_advert') }}">Rajouter une annonce</a>
		</div>

	</div>
	<table class="table">
		<thead>

			<tr>
				<th>Titre</th>
				<th>Photo</th>
			</tr>
		</thead>
		<tbody>
			{% for advert in adverts %}
				<tr>
					<td>{{  advert.titre }}</td>
					<td>
					{% if advert.car.picture1 is not empty %}
					<img src="{{ asset(images_directory~advert.car.picture1) }}" width="100"/>
					{% endif %}
					</td>
					<td>
						<a class=" btn btn-success " href="{{ path("edit_advert", {id:advert.id}) }}">
							<i class="fas fa-edit">
								Modifier</i>
						</a>
						<a class=" btn btn-danger " href="{{ path("delete_advert", {id:advert.id}) }}" onclick="return window.confirm('Voulez vous vraiment supprimer ?')">
							<i class="fas fa-times">
								Supprimer</i>
						</a>
					</td>
				</tr>

			{% endfor %}
		</tbody>


	</table>

{% endblock %}
